<form action="/advertise" method="post">
  <input type="checkbox" name="SMS" value="sms"> SMS<br>
  <input type="checkbox" name="Email" value="email" > Email<br>
  
  <hr>

  <h3>Department:</h3>
  <input type="checkbox" name="dept" value="CSE"> CSE<br>
  <input type="checkbox" name="dept" value="IT" > IT<br>
  <input type="checkbox" name="dept" value="ECE"> ECE<br>
  <input type="checkbox" name="dept" value="CIVIL" > CIVIL<br>

    <hr>

  <h3>Year:</h3>
  <input type="checkbox" name="year" value="I"> I<br>
  <input type="checkbox" name="year" value="II" > II<br>
  <input type="checkbox" name="year" value="III"> III<br>
  <input type="checkbox" name="year" value="IV" > IV<br>

    <hr>

  <input type="submit" value="Advertise">
</form>